.add__user {
  margin: 1rem;
  margin-bottom: 0;
  display: flex;
}
.add__user > * {
  margin: 0 1rem;
}
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
table {
  margin: 1rem;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  flex: 1;
}
thead {
  background-color: rgb(245, 245, 245);
}
tr {
  border-bottom: 1px solid #ccc;
}
th,
td {
  margin: 1rem;
  padding: 1rem;
}
.user {
  cursor: pointer;
}
.user:hover {
  background-color: #ccc;
}
.contact__fullName {
  font-size: 1.5rem;
  margin-bottom: 0;
  font-weight: 600;
}
.contact__name {
  display: flex;
  align-items: center;
}

.contact__avatar {
  width: 3rem;
  height: 3rem;
  background-color: lightgreen;
  border-radius: 1.5rem;
  position: relative;
  margin-right: 1rem;
}
.contact__avatar--letter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 600;
  color: #fff;
  font-size: 1.2rem;
  border-radius: 1rem;
}

.contact__view {
  margin: 1rem 2rem;
  width: 23rem;
  background-color: rgb(248, 248, 248);
}

.view__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 1rem;
}

.view__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 0.5rem;
  padding: 1rem;
}

.view__detail--head {
  margin-left: 2rem;
  font-size: 0.8rem;
}

.view__detail--body {
  font-size: 0.8rem;
  font-weight: 600;
}

.input__grid {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}

.input__grid input,
.message {
  border: none;
  outline: none;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  padding: 0.2rem 0.5rem;
}

.input__data {
  display: flex;
  flex-direction: column;
}

.error {
  color: red;
  font-size: 0.6rem;
}

.message__container {
  position: relative;
  margin-bottom: 4rem;
}

.message__input {
  display: grid;
  grid-template-columns: 1fr 4rem;
  grid-gap: 1rem;
  margin: 0 1rem;
  width: 90%;
}

.message__bg {
  background-color: blue;
  padding: 0.2rem 0.5rem;
  border-radius: 5px;
  margin: 0.2rem;
  color: #fff;
  align-self: flex-start;
}

.messages {
  display: flex;
  flex-direction: column;
}

.send__massage--cotainer {
  width: 90%;
  background-color: white;
  position: fixed;
  padding: 1.6rem 0;
  bottom: 0px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
